body {
 font-family: "OpenSans", sans-serif, Helvetica, Arial !important;
}

/* Blue text hover */
.blue-text:hover {
  color: #8eaff0 !important;
}

/* Orange button */
.btn-custom {
  background-color: #ffa33a;
  border-color: #ffa33a;
  color: #121212;
  width: 304px;
  height: 44px;
}
.btn-custom:hover {
  background-color: #ffa33a;
  border-color: #d60;
  color: #222;
}


/* Input field floating */
.floating-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.floating-group .floating-input {
  background-color: #121212;
  border: 1px solid #555;
  transition: border-color 0.2s;
}
.floating-group label {
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 12px;
  color: #aaa;
  transition: 0.2s ease all;
  background-color: #121212;
  padding: 0 4px;
  z-index: 1;
}
.floating-group .floating-input:focus {
  border-color: #6694ea;
  outline: none;
  box-shadow: none;
}
.floating-group .floating-input:focus + label,
.floating-group .floating-input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 0.75rem;
}